<div class="todos-container">
  <h2>My Todos</h2>

  <div *ngIf="loading$ | async" class="loading-indicator">Loading todos...</div>
  <!-- <div *ngIf="error$ | async as error" class="error-message">
    Error: {{ error.message }}
  </div> -->

  <div class="add-todo">
    <input
      type="text"
      placeholder="What needs to be done?"
      [(ngModel)]="newTodo"
      (keyup.enter)="onAddTodo()"
    />
    <button (click)="onAddTodo()">Add Todo</button>
  </div>

  <ul class="todo-list">
    <li *ngFor="let todo of todos$ | async" [class.completed]="todo.completed">
      <input
        type="checkbox"
        [checked]="todo.completed"
        (change)="onToggleTodo(todo.id)"
      />
      <span>{{ todo.title }}</span>
      <button class="delete-button" (click)="onDeleteTodo(todo.id)">X</button>
    </li>
  </ul>

  <div class="actions">
    <button
      (click)="onClearCompleted()"
      [disabled]="!(hasCompletedTodos$ | async)"
    >
      Clear Completed
    </button>
    <span>{{ remainingTodosCount$ | async }} items left</span>
  </div>
</div>
