<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Gender</th>
      <th scope="col">Communication</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students$ | async; let i = index">
      <!-- Making it bold -->
      <th scope="row">{{ student.id }}</th>
      <td>{{ student.name }}</td>
      <td>{{ student.email }}</td>
      <td>{{ student.gender }}</td>
      <td>
        <ng-container *ngFor="let com of student.communications; let i = index"
          >{{ com
          }}<span *ngIf="i !== student.communications.length - 1">{{
            ","
          }}</span>
        </ng-container>
      </td>
      <td>
        <i
          (click)="deleteStudent(student.id)"
          class="fa fa-trash"
          aria-hidden="true"
        ></i>
        &nbsp;
        <a routerLink="/editStudent/{{ student.id }}">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
