<header class="main-header">
  <ul (click)="hideContainer = true">
    <li>
      <a routerLink="/spinner" routerLinkActive="active">Spinner</a>
    </li>
    <li><a routerLink="/search" routerLinkActive="active">Search</a></li>
    <li><a routerLink="/button" routerLinkActive="active">Button</a></li>
    <li><a routerLink="/toast" routerLinkActive="active">Toast</a></li>
    <li>
      <a routerLink="/students" routerLinkActive="active">Student List</a>
    </li>
    <li>
      <a routerLink="/addStudent" routerLinkActive="active">Add Student</a>
    </li>
    <li style="float: right">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
  </ul>
</header>

<main>
  <div class="container">
    <ng-container *ngIf="!hideContainer">
      <h1>Welcome to the Sample Angular App!</h1>
      <p>
        This is a simple Angular application demonstrating various features.
      </p>
      <h4>Pipe Use cases:</h4>
      <ul>
        <li>{{ "aHu" | casing }}</li>
        <li>{{ "ahu" | casing : "L" }}</li>
        <li>{{ "ahu" | casing : "U" }}</li>
      </ul>

      <br />
      <h4>Directive:</h4>
      <strong appHighlight>This will be highlighted!</strong>
    </ng-container>

    <router-outlet></router-outlet>
  </div>
</main>
